# Require @MrRincon @Mi1kDev @petar-Atanasov to approve any PR that touches any file
* @MrRincon @Mi1kDev @petar-Atanasov

# Protecting specific files
README.md @MrRincon @petar-Atanasov @Mi1kDev
.gitignore @MrRincon
LICENSE @MrRincon
.github/CODEOWNERS @MrRincon
